tr:hover {
  background-color: #f0f0f0;
}

tr.equipped {
  opacity: 0.25;
  background-color: #dfd;
}

tr.obsolete {
  opacity: 0.25;
  text-decoration: line-through;
}

.stats-info {
  display: flex;
  justify-content: start;
}

.stats-info table {
  margin-right: 1em;
}

.stats-info td:nth-of-type(2) {
  text-align: right;
}

.tabbed-container nav ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: start;
}

.tabbed-container nav li {
  margin-right: 1em;
}

.tabbed-container nav a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  font-size: larger;
}

.tabbed-container nav a.selected {
  text-decoration: underline;
}

.timeline {
  overflow-x: auto;
  overflow-y: visible;
  margin-left: 5em;
}

.timeline table {
  border-spacing: 0;
}

.timeline tr td:last-of-type {
  position: relative;
  white-space: nowrap;
  padding: 0 0 10px 0;
}

.timeline th {
  position: absolute;
  left: 0;
  top: auto;
  padding: 0;
}

.timeline tbody td {
  border-bottom: 1px solid black;
}

.timeline tbody td > div {
  padding: 2px 0;
}

.timeline tbody td > div::before {
  content: "W";
  color: transparent;
}

.timeline-event {
  position: absolute;
  border: thin solid black;
  min-width: 4px; /* 4px to account for the 1px border */
  display: inline-block;
}

.timeline .ruler-container {
  padding-top: 16px;
}

.timeline .second, .timeline .half-second, .timeline .hundredth-second {
  position: relative;
  min-width: 5px; /* 5px to account for the 1px border */
  display: inline-block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  vertical-align: bottom;
}

.timeline .second {
  height: 16px;
}

.timeline .half-second {
  height: 8px;
}

.timeline .hundredth-second {
  height: 4px;
}

.ruler-tick {
  position: absolute;
  top: -14px;
  left: -8px;
  font-size: 12px;
}
